<div class="container">
    <h1>View Post</h1>
   
    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
    
    <div>
        <strong>ID:</strong>
        <p>{{ post.id }}</p>
    </div>
    
    <div>
        <strong>Title:</strong>
        <p>{{ post.title }}</p>
    </div>
    
    <div>
        <strong>Body:</strong>
        <p>{{ post.body }}</p>
    </div>
    
    <div>
        <strong>EmployeeCode:</strong>
        <p>{{ post.EmployeeCode }}</p>
    </div>
    
    <div>
        <strong>EmployeeName:</strong>
        <p>{{ post.EmployeeName }}</p>
    </div>
    <div>
        <strong>Department:</strong>
        <p>{{ post.Department }}</p>
    </div>
    <div>
        <strong>Destination:</strong>
        <p>{{ post.Destination }}</p>
    </div>
    <div>
        <strong>Proficiency:</strong>
        <p>{{ post.Proficiency }}</p>
    </div>
    <div>
        <strong>ReportingManager:</strong>
        <p>{{ post.ReportingManager }}</p>
    </div>
    <div>
        <strong>ReportingLeader:</strong>
        <p>{{ post.ReportingLeader }}</p>
    </div>
    
</div>