
* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

body{
    background-image: linear-gradient(to right bottom, #e3cbe1, #dacfed, #cbd4f8, #b8dbfd, #a5e1fc, #99dff7, #8ddef2, #82dceb, #73d2e7, #64c9e4, #56bfe0, #48b5dc);
    height:100vh;
}
